version: '{build}'

image: Visual Studio 2019

environment:
  matrix:
    - COMPILER: "Visual Studio 16 2019"
    - COMPILER: "Visual Studio 16 2019 Win64"

configuration:
  - Debug
  - Release

build_script:
  # Fetch Windows GLUT headers and libraries
  - cd ..
  - mkdir glut
  - cd glut
  - curl http://www.nigels.com/download/NvidiaCgGLUT_Windows.zip --output glut.zip
  - unzip glut.zip
  - cd ../glui
 
  # Build GLUI
  - mkdir build
  - cd build
  - cmake -G "%COMPILER%" -DGLUT_INCLUDE_DIR=../../glut/include -DGLUT_glut_LIBRARY_DEBUG=../../glut/lib/glut32.lib -DGLUT_glut_LIBRARY_RELEASE=../../glut/lib/glut32.lib ..
  - cmake --build . --config %CONFIGURATION%
  - cd ..
