version: '{build}'

image: Visual Studio 2019

environment:
  matrix:
    - COMPILER: "Visual Studio 16 2019"
    - COMPILER: "Visual Studio 16 2019 Win64"

configuration:
  - Debug
  - Release

build_script:
  - mkdir build
  - cd build
  - curl http://www.nigels.com/download/NvidiaCgGLUT_Windows.zip --output glut.zip
  - unzip glut.zip
  - cmake -G "%COMPILER%" -DGLUT_INCLUDE_DIR=include -DGLUT_glut_LIBRARY_DEBUG=lib/glut32.lib -DGLUT_glut_LIBRARY_RELEASE=lib/glut32.lib ..
  - cmake --build . --config %CONFIGURATION%
  - cd ..
